body{
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 18px;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  position: relative;
}

.box {
  flex: 1;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#value {
  color: white;
  text-shadow: 2px 3px grey;
  font-size: 60px;
}